* {
    margin: 0px;
    padding: 0px;
  }
.insert_school{
    background-size: cover;
    background-attachment: fixed;
    background-color: #df953315;     
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    align-items: center;
  overflow-x: auto;
   overflow-y: auto;
    margin: 0;
}
.insert_schools{
    width: 770px;
    border: 1px solid #000000f8;
    margin-top: 100px;
    overflow: hidden;

    height: 500px;
    align-items: center;
    margin-left: 295px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.815);
}
.schools_text{
    font-size: 30px;
 font-weight: bold;
 margin-top: 15px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.line_schools{
    width: 380px;
    border-width: 1px;
    margin-left: 184px;
border-color: black;
    align-items: center;
    margin-top: 5px;
}
.verticcals1 {
    width: 42px;
    height:100vh;
    float: right;
    background-color: #DF9433;
    margin-top: -94px;
    display: flex;
 
  }
  .verticcals2 {
    width: 42px;
    height:100vh;
   float: right;
    background-color: #df953359;
    margin-top: -94px;
    display: flex;
     
  }
  .adv2_inputs{
    float: left;
    margin-top: 48px;
margin-left: 95px;
  }
.adv_inputs{
    float: right;
    margin-top: 48px;
     
    margin-right:50px;
}
.name_class{
    width: 250px;
    border: 1px solid #000000;
    float: right;
    font-size: 14px;

    height: 40px;
}
.level{
    width: 250px;
    float: right;
    font-size: 14px;
    height: 40px;
    border: 1px solid #000000;
    margin-top: 15px;
}
.subjects{
    margin-top: 15px;
 width: 250px;
 color: #000;
 height: 40px;

 margin-right: 190px;
 border: 1px solid #000000;
float: right;
}
.shares{
    width: 199px;
font-weight:600;  
font-size:25px;
 margin-top:33px;
    height: 44px;
   border:1px solid #000000;
  margin-right: 221px;
  float: right; 
text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif;     color: #000;
 background-color: #DF9433;
  }