 .table{
     width: 95%;
   align-items: center;
     direction: rtl;
     float: right;
     border-collapse: collapse;
     background-color: #df953331;
     text-align: right;
  margin: 10px;
  margin-right: 33px;
     border-spacing: 0;
 }
 .tableee{
  width: 85%;
  align-items: center;
    direction: rtl;
    float: right;
    border-collapse: collapse;
    background-color: #df953331;
    text-align: right;
 margin: 10px;
 margin-right: 33px;
    border-spacing: 0;
 }
 
 
 .rwos{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    font-weight: bold;
    border: 1px solid #000;
  }
  td, th {
    border: none;
   
  }
 
  tr:nth-child(even){background-color:white}

 
th, td {
    padding: 5px;
    text-align: right;
    font-size: 13px;
   
  }

 
  tr:hover {background-color: #98f55a5d;}
 
  progress[value]::-webkit-progress-bar {
    background-color: #ededed;
    border-radius: 40px;
  }
  
  progress[value]::-webkit-progress-value {
    border-radius: 40px;
    background-color:rgba(247, 180, 47, 0.918);
  }
  .th {
    height: 44px;
    background-color: #DF9433;
    font-size: 18px;
    color: rgb(0, 0, 0);
     
  }
 label:active{
background: #df953348;
 }
 .badges{
   width: 80px;
   height: 30px;
   align-items: center;
   text-align: center;
   font-size: small;
   padding-top:4px ;
   font-size: medium;
   border-radius: 12px;
   background: rgb(21, 175, 21);
 }
 .badgee{
  width: 80px;
  height: 30px;
  align-items: center;
  border-radius: 12px;
  padding-top:4px ;
  text-align: center;
  font-size: small;
  background: rgb(175, 179, 175);
}
  progress {
    border-radius:50%;
     width: 270px;
     height:15px;
        border-radius: 20px;
       border: 0;
 
   } 
   .material{
    width: 50px;
    height: 40px;
    border: 1px solid;
  }
  .clic{
    margin-top: 40px;
    width: 90px;
    margin-left: 150px;
  }
  
   /*  diiiallo inClass sm*/

  .dialoo{
    direction: ltr;
    float: left;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    margin-left:0px;
     background: #DF9433;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 39px;
  }
  .dialooo{
    direction: rtl;
     font-weight: bold;
     float: right;
     width: 100%;
     margin-bottom: 15px;
     margin-right: 32px;
   }
 
/* ضافة وحدة دراسية  in material*/
.diialo:hover{
  background: #df9533d5;
  }
  .diialo{
    color: black;
    width: 80px;
    margin-top: 9px;

    height: 45px;
  border: 1px solid;
  margin-right: 32px;
   }
   .sp{
     text-align: center;
     font-weight: 500;
     font-size: 20px;
     padding-top: 12px;
   }
   #myText{
     width: 100%;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 500;
     font-size: 16px;
     font-weight: bold;
     margin-top: 12px;

   }
   #myTexts{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;

  }
   .cell{
     width:59%;
      margin-left: 20px;
     border: 2px solid #000000;
     align-items: center;
     float: right;
     top: 0;
     padding: 0;
     overflow: auto;
     margin-right: 12px;
     margin-top: 18px;
   }
   #home_cell{
    width:35%;
     margin-left: 20px;
    border: 2px solid #000000;
    align-items: center;
    float: left;
    margin-top: 18px;
    top: 0;
    padding: 0;
    overflow: auto;
    margin-right: 12px;
   }
   #cells{
     border: 1px solid;
     width: 97%;
     height: 160px;
        float: right;
       border: 2px solid #000000;
    align-items: center;
    float: right;
     top: 0;
    padding: 0;
    margin: 12px;
    overflow: auto;
 
   }
   #homes_cell{
    border: 1px solid;
    width: 96%;
    height: 160px;

       float: right;
      border: 2px solid #000000;
   align-items: center;
   float: right;
    top: 0;
   padding: 0;
   margin: 12px;
   overflow: auto;
   }
   .lefii{
     margin-left: 7px;
     font-size: 100px;
   }
   /*
   
   Dialog in Materials
   */ 
   #demo{
     float: right;
     font-size: 20px;
     padding: 12px;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif;
   }
   #demos{
    float: right;
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
   }
   .Delete{
     color: red;
     float: left;
     direction: initial;
       }
  .unit{
    float: right;
    padding: 11px;
    font-size: 12px;
    font-weight: bold;
  }
  .dialog-title{
 font-size: 22px;
 margin-top:11px;
 text-align: center;
 font-weight:500;

  }
  .dialog-component{
    border: 2px solid;
   float: right;
   height:210px;
 
text-align: right;
      width: 90%;
 margin-right: 28px;
 }
 /*  diiiallo inClass xxl*/
 
 .diiiallo{
  color: rgb(8, 8, 8);
  width:160px;
  height: 45px;
  text-align: center;
  font-weight:500;
  font-size: 18px;
   border: 1px solid #000;
  margin-bottom: 10px;

 }
 .diiiallo:hover{
  background: rgba(255, 0, 0, 0.562);   }

.diiallo:hover{
background: #df9533;
}
.diiallo{
  color: black;
  width:160px;
  
   font-weight:500;
   font-size: 18px;
  text-align: center;
  height: 45px;
border: 1px solid;
margin-right:64px;
margin-bottom: 10px;
 }
 .com1{
   margin-top: 12px;
   height: 53px;
   padding: 3px;
   font-size: 20px;
   font-weight: 500;
   background-color: #df9533c5;
 }
 .com2{
  background-color: #84b13cb2;
  height: 53px;
  padding: 3px;
   font-size: 20px;
   margin-top: 9px;
font-weight: 500;
}
.com3{
  background-color: #bb59b37c;
  height: 53px;
  padding: 3px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 9px;
}
.com1:hover{
  background: #DF9433;
}
.com2:hover{
  background: #DF9433;
}
.com3:hover{
  background: #DF9433;
}
.thss
{
  padding:22px ;
  font-size: 15px;
}

 