*{
    margin: 0px;
    padding: 0px;
}
.insert_teacher{
    padding-right: 360px; 
    align-items: center;
    text-align: center;

}
 /* insert class*/

.ins_form{
     align-items: center;
     text-align: center;
    border: 1px solid;
     width: 660px;
    margin-top:33px;
    overflow: hidden; 
    float: right;
     height: 420px;
    background-color: rgba(255, 255, 255, 0.938);
}
.ins_title{
    align-items: center;
    float: center;
    font-size: 28px;
font-weight: bolder;
   margin-top: 19px;
    color: #000;
    font-size: 19px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   font-weight: 800px;
 }
 .ins_box{
     align-items: center;
     margin-top:35px;
     margin-left: 40px;
     text-align: center;
  }
 
 .opt{
     font-size: 15px;
 }
 
 
.vertical1{
    width:32px;
    height: 100vh;    float: right;
    background-color: #DF9433;

    margin-top:-80px;
     display: flex;
    border-color:#707070 ;
}
.vertical2{
    width:32px;
    height: 100vh;
    float: right;
    background-color: #df953359;
    margin-top:-80px;
    display: flex;
     border-color:#707070 ;

}
 
.line_title{
    width: 360px;
    margin-left: 154px;
    background-color: #000000;
    align-items: center;
}
 