 
        .level_1{
      width: 270px;
      font-size: 15px;
       height: 40px;
       padding: 3px;
       color: rgb(0, 0, 0);
         
   }
     .boxess3{
      width: 220px;
      font-size: 15px;
       height: 38px;

      color: #000;
      
   }
   .sendss{
      width: 200px;
      font-size: 18px;
   margin-top:22px;
      height: 44px;
      border: 1px solid #000000;
     color: #000;
     font-weight: 700;
    font-family: Segoe UI;
      text-align: center;
      background-color: #DF9433;
    }
   
   
  .verticalss{
      width: 1px;
      float: left;
  margin-top: -320px;
     margin-left: 32px;
      height: 333px;
      background-color: #000000fd;
  }
  .boxes_marks{
   width: 288px;
   font-size: 15px;
   height: 40px;
    font-weight: bold;

     padding: 3px;
   border: 1px solid #080808ef;
      direction: rtl;
   text-align: right;
 }